<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nullpointer.domain.board.mapper.BoardMapper">

    <!-- 보드 생성 -->
    <insert id="insertBoard" parameterType="BoardVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (title,
                           team_id,
                           description,
                           visibility)
        VALUES (#{title},
                #{teamId},
                #{description},
                #{visibility})
    </insert>

    <!-- 보드 생성 시 생성자를 BoardMember 테이블에 OWNER로 등록 -->
    <insert id="insertBoardMember">
        INSERT INTO board_member (board_id,
                                  user_id,
                                  role)
        VALUES (#{boardId},
                #{userId},
                #{role})
    </insert>

    <!-- 내 보드 목록 조회-->
    <select id="findBoardByUserId" parameterType="Long" resultType="BoardVo">
        SELECT t.id                      AS teamId,
               t.name                    AS teamName,
               b.id,
               b.title,
               b.description,
               b.visibility,
               (bf.board_id IS NOT NULL) AS isFavorite,
               bf.favorited_at

        FROM team t
                 INNER JOIN team_member tm ON t.id = tm.team_id
                 LEFT JOIN board b ON t.id = b.team_id AND b.deleted_at IS NULL
                 LEFT JOIN board_favorite bf ON b.id = bf.board_id AND bf.user_id = #{id}
        WHERE tm.user_id = #{id}
          AND t.deleted_at IS NULL
    </select>

    <!-- 특정 팀 보드 목록 조회 -->
    <select id="findBoardByTeamId" parameterType="Long" resultType="BoardVo">
        SELECT id,
               title,
               description,
               visibility
        FROM board
        WHERE team_id = #{id}
          AND deleted_at IS NULL
    </select>

    <!-- 보드 상세 조회 -->
    <select id="findBoardByBoardId" parameterType="Long" resultType="BoardVo">
        SELECT b.id,
               b.team_id AS teamId,
               t.name    AS teamName,
               b.title,
               b.description,
               b.visibility
        FROM board b
                 LEFT JOIN team t ON b.team_id = t.id
        WHERE b.id = #{id}
          AND b.deleted_at IS NULL
    </select>

    <!-- 보드 정보 수정 -->
    <update id="updateBoard" parameterType="BoardVo">
        UPDATE board
        SET title       = #{title},
            description = #{description},
            visibility  = #{visibility}
        WHERE id = #{id}
    </update>

    <!-- 보드 삭제 -->
    <update id="deleteBoard">
        UPDATE board
        SET deleted_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 보드 개수 체크 -->
    <select id="countBoardByTeamId">
        SELECT COUNT(*)
        FROM board
        WHERE team_id = #{id}
          AND deleted_at IS NULL
    </select>

    <!-- 소속 멤버 보드 조회 -->
    <select id="findMemberBoard" resultType="BoardVo">
        SELECT b.id,
               b.title
        FROM board b
                 LEFT JOIN board_member bm
                           ON b.id = bm.board_id
                               AND bm.user_id = #{userId}
        WHERE b.team_id = #{teamId}
          AND b.deleted_at IS NULL
          AND (b.visibility = 'TEAM' OR bm.user_id IS NOT NULL)
    </select>

    <!-- 보드 즐겨찾기 갯수 확인 -->
    <select id="countFavorite" resultType="int">
        SELECT COUNT(*)
        FROM board_favorite
        WHERE user_id = #{userId}
    </select>

    <!-- 보드 유무 확인 -->
    <select id="existsFavorite" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM board_favorite
        WHERE board_id = #{boardId}
          AND user_id = #{userId}
    </select>

    <!-- 보드 즐겨찾기 추가 -->
    <insert id="insertFavorite">
        INSERT INTO board_favorite (board_id,
                                    user_id,
                                    favorited_at)
        VALUES (#{boardId},
                #{userId},
                NOW())
    </insert>

    <!-- 보드 즐겨찾기 삭제 -->
    <delete id="deleteFavorite">
        DELETE
        FROM board_favorite
        WHERE board_id = #{boardId}
          AND user_id = #{userId}
    </delete>

</mapper>