<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nullpointer.domain.file.mapper.FileMapper">

    <insert id="insertFile" parameterType="FileVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file (card_id,
                          uploader_id,
                          file_name,
                          file_path,
                          file_size)
        VALUES (#{cardId},
                #{uploaderId},
                #{fileName},
                #{filePath},
                #{fileSize})
    </insert>

    <select id="findById" parameterType="long" resultType="FileVo">
        SELECT *
        FROM file
        WHERE id = #{id}
    </select>

    <update id="deleteById" parameterType="long">
        UPDATE file
        SET deleted_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 카드 삭제 시 하위 데이터 일괄 삭제 -->
    <update id="deleteAllFilesByCardId">
        UPDATE file
        SET deleted_at = NOW()
        WHERE card_id = #{cardId}
          AND deleted_at IS NULL
    </update>

    <!-- 리스트 삭제 시 하위 데이터 일괄 삭제 -->
    <update id="deleteAllFilesByListId">
        UPDATE file f
            JOIN card c
        ON f.card_id = c.id
            SET f.deleted_at = NOW()
        WHERE c.list_id = #{listId}
          AND f.deleted_at IS NULL
    </update>

    <!-- 보드 삭제 시 하위 데이터 일괄 삭제 -->
    <update id="deleteAllFilesByBoardId">
        UPDATE file f
            JOIN card c
        ON f.card_id = c.id
            JOIN list l ON c.list_id = l.id
            SET f.deleted_at = NOW()
        WHERE l.board_id = #{boardId}
          AND f.deleted_at IS NULL
    </update>

    <!-- 팀 삭제 시 하위 데이터 일괄 삭제 -->
    <update id="deleteAllFilesByTeamId">
        UPDATE file f
            JOIN card c
        ON f.card_id = c.id
            JOIN list l ON c.list_id = l.id
            JOIN board b ON l.board_id = b.id
            SET f.deleted_at = NOW()
        WHERE b.team_id = #{teamId}
          AND f.deleted_at IS NULL
    </update>

</mapper>