<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nullpointer.domain.invitation.mapper.InvitationMapper">

    <insert id="insertInvitation" parameterType="InvitationVo"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO invitation (team_id,
                                inviter_id,
                                invitee_id,
                                token,
                                status,
                                expired_at,
                                created_at)
        VALUES (#{teamId},
                #{inviterId},
                #{inviteeId}, #{token},
                #{status},
                #{expiredAt},
                NOW())
    </insert>

    <select id="findByToken" resultType="InvitationVo">
        SELECT *
        FROM invitation
        WHERE token = #{token}
    </select>

    <select id="findById" resultType="InvitationVo">
        SELECT *
        FROM invitation
        WHERE id = #{id}
    </select>

    <update id="updateStatus" parameterType="InvitationVo">
        UPDATE invitation
        SET status = #{status},
            responded_at = NOW()
        WHERE id = #{id}
    </update>

    <select id="existsByTeamIdAndInviteeIdAndStatus" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM invitation
        WHERE team_id = #{teamId}
          AND invitee_id = #{inviteeId}
          AND status = #{status}
    </select>

    <select id="findAllByTeamId" resultType="TeamInvitationResponse">
        SELECT
            i.id,
            i.team_id,
            i.invitee_id,
            i.status,
            i.created_at,
            i.responded_at,
            u.email AS inviteeEmail,
            u.nickname AS inviteeName,
            u.profile_img AS inviteeProfile_img
        FROM invitation i
                 LEFT JOIN user u ON i.invitee_id = u.id
        WHERE i.team_id = #{teamId}
    </select>

    <select id="findAllByUserId" resultType="MyInvitationResponse">
        SELECT i.id,
               i.team_id,
               i.inviter_id,
               i.status,
               i.created_at,
               u.email       AS inviterEmail,
               u.nickname    AS inviterName,
               u.profile_img AS inviterProfile_img,
               t.name        AS teamName
        FROM invitation i
                 LEFT JOIN user u ON i.inviter_id = u.id
                 LEFT JOIN team t ON i.team_id = t.id
        WHERE i.invitee_id = #{userId}
          AND i.status = 'PENDING'
    </select>

</mapper>