spring:
  application:
    name: nullpointer

  profiles:
    active: local

  datasource:
    url: jdbc:mariadb://192.168.0.176:3306/syncle?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: nullpointer
    password: nullpointer
    driver-class-name: org.mariadb.jdbc.Driver

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: Asia/Seoul

  # SMTP
  mail:
    host: smtp.gmail.com # Gmail의 SMTP 서버 호스트
    port: 587 # Gmail STMP 서버는 587번 포트 사용
    username: ksm13563661@gmail.com
    password: suoc hvpg zduz cyac
    properties:
      mail:
        smtp:
          auth: true # 메일 전송 시 SMTP 계정 인증 (Gmail은 반드시 필요)
          starttls:
            enable: true # SMTP 서버와 클라이언트 사이 통신을 TLS(암호화)로 보호
            required: true # TLS 연결 실패 시 이메일 전송 x
          connectiontimeout: 5000 # 클라이언트가 SMTP 서버와의 연결을 설정하는데 대기해야 하는 시간
          timeout: 5000 # 클라이언트가 SMTP 서버로부터 응답을 대기해야 하는 시간
          writetimeout: 5000 # 클라이언트가 작업을 완료하는데 대기해야 하는 시간

  # Redis
  data:
    redis:
      host: 192.168.0.181
      port: 6379

  # File Upload
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

app:
  jwt:
    secret: 9e5e5b6c67264cb6cee8e18f8f35517aec75e14383934dd8554090be30a1facd
    #    access-expiration: 1800000 # 30분
    access-expiration: 36000000 # 30분

    refresh-expiration: 1209600000 # 2주

  email:
    verification-expiration-millis: 300000 # 5분
    verify-base-url: http://localhost:8080/api/auth/email/verification

  google:
    client-id: 1077568018264-rrmqlanf1tbtmciv91eu91h5kg8pcvrj.apps.googleusercontent.com

  file:
    upload-dir: ./uploads

server:
  port: 8080

mybatis:
  mapper-locations: classpath:mappers/**/*.xml
  type-aliases-package:
    com.nullpointer.domain.*.vo, com.nullpointer.domain.*.dto

  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
  level:
    root: INFO
    com.nullpointer: DEBUG
    org.mybatis: DEBUG
    org.springframework.jdbc.core: DEBUG
