<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nullpointer.domain.card.mapper.CardMapper">

    <!-- 카드 INSERT -->
    <insert id="insertCard"
            parameterType="com.nullpointer.domain.card.vo.CardVo"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO card (list_id,
                          assignee_id,
                          title,
                          description,
                          order_index,
                          is_complete,
                          created_at,
                          updated_at,
                          deleted_at)
        VALUES (#{listId},
                #{assigneeId},
                #{title},
                #{description},
                (SELECT COALESCE(MAX(c.order_index), -1) + 1
                 FROM card c
                 WHERE c.list_id = #{listId}
                   AND c.deleted_at IS NULL),
                false,
                NOW(),
                NULL,
                NULL)
    </insert>

    <!-- 카드 목록 조회 -->
    <select id="findCardsWithDetailsByListId"
            parameterType="Long"
            resultType="CardResponse">
        SELECT c.id,
               c.list_id                     AS listId,
               c.title,
               c.priority,
               c.description,
               c.order_index                 AS orderIndex,
               c.due_date                    AS dueDate,
               c.is_complete                 AS is_complete,
               c.label,
               c.label_color                 AS labelColor,
               c.assignee_id                 AS assigneeId,
               u.nickname                    As assigneeName,
               u.profile_img                 As assigneeProfileImg,
               (SELECT COUNT(*)
                FROM comment cm
                WHERE cm.card_id = c.id
                  AND cm.deleted_at IS NULL) AS commentCount
        FROM card c
                 LEFT JOIN user u ON c.assignee_id = u.id
        WHERE c.list_id = #{listId}
          AND c.deleted_at IS NULL
        ORDER BY c.order_index ASC
    </select>

    <!-- 카드 이동 -->
    <update id="updateCardLocation" parameterType="com.nullpointer.domain.card.vo.CardVo">
        UPDATE card
        SET list_id     = #{listId},
            order_index = #{orderIndex}
        WHERE id = #{id}
          AND deleted_at IS NULL
    </update>

    <!-- 카드 조회 -->
    <select id="findById" resultType="com.nullpointer.domain.card.vo.CardVo">
        SELECT *
        FROM card
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <!-- 내 일정 조회(캘린더) -->
    <select id="findCardsByAssigneeIdAndFilters" resultType="CardResponse">
        SELECT
        c.id,
        c.assignee_id,
        c.title,
        c.description,
        c.is_complete,
        c.priority,
        c.start_date,
        c.due_date,
        c.label_color,
        c.list_id,
        l.title AS listTitle,
        b.title AS boardTitle,
        b.id AS boardId,
        b.team_id
        FROM card c
        JOIN list l ON c.list_id = l.id
        JOIN board b ON l.board_id = b.id
        WHERE c.deleted_at IS NULL
        AND l.deleted_at IS NULL
        AND b.deleted_at IS NULL
        AND (c.start_date IS NOT NULL OR c.due_date IS NOT NULL)

        <if test="boardId != null">
            AND b.id = #{boardId}
        </if>

        <if test="teamId != null">
            AND b.team_id = #{teamId}
        </if>

        AND EXISTS (
        SELECT 1
        FROM team_member tm
        WHERE tm.team_id = b.team_id
        AND tm.user_id = #{userId}
        )

        AND (
        b.visibility = 'TEAM'
        OR
        EXISTS (
        SELECT 1
        FROM board_member bm
        WHERE bm.board_id = b.id
        AND bm.user_id = #{userId}
        )
        )

        ORDER BY c.due_date ASC
    </select>

    <!-- 카드 상세 조회 -->
    <select id="findCardDetailById" parameterType="Long" resultType="CardResponse">
        SELECT c.id,
               c.list_id                     AS listId,
               c.title,
               c.priority,
               c.description,
               c.order_index                 AS orderIndex,
               c.is_complete                 AS isComplete,
               c.label,
               c.label_color                 AS labelColor,
               c.start_date                  AS startDate,
               c.due_date                    AS dueDate,
               c.assignee_id                 AS assigneeId,
               u.nickname                    AS assigneeName,
               u.profile_img                 AS assigneeProfileImg,
               (SELECT COUNT(*)
                FROM comment cm
                WHERE cm.card_id = c.id
                  AND cm.deleted_at IS NULL) AS commentCount
        FROM card c
                 LEFT JOIN user u
                           ON c.assignee_id = u.id
        WHERE c.id = #{id}
          AND c.deleted_at IS NULL
    </select>

    <!-- 카드 정렬 -->
    <update id="updateOrderIndex">
        UPDATE card
        SET order_index = order_index + #{updateValue}
        WHERE list_id = #{listId}
          AND order_index BETWEEN #{startOrder} AND #{endOrder}
          AND deleted_at IS NULL
    </update>

    <!-- 카드 수정 -->
    <update id="updateCard">
        UPDATE card
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isComplete != null">is_complete = #{isComplete},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="label != null">label = #{label},</if>
            <if test="labelColor != null">label_color = #{labelColor},</if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 카드 삭제 -->
    <update id="deleteCard">
        UPDATE card
        SET deleted_at = NOW()
        WHERE id = #{cardId}
    </update>
    <!-- 담당자 수정 -->
    <update id="updateCardAssignee">
        UPDATE card
        SET assignee_id = #{assigneeId}
        WHERE id = #{cardId}
          AND deleted_at IS NULL
    </update>

    <!-- 마감일 초기화 -->
    <update id="deleteCardDates">
        UPDATE card
        SET start_date = NULL,
            due_date   = NULL
        WHERE id = #{cardId}
          AND deleted_at IS NULL
    </update>

    <!-- 우선순위 초기화 -->
    <update id="deleteCardPriority">
        UPDATE card
        SET priority = NULL
        WHERE id = #{cardId}
          AND deleted_at IS NULL
    </update>

    <!-- 라벨 초기화 -->
    <update id="deleteCardLabel">
        UPDATE card
        SET label = NULL, label_color = NULL
        WHERE id = #{cardId} AND deleted_at IS NULL
    </update>
</mapper>
